<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>F:\Sources\Sodiware\VS\RemoteGoogleTestAdapter\TestResults</ResultsDirectory>
    <SolutionDirectory>F:\Sources\Sodiware\VS\RemoteGoogleTestAdapter\</SolutionDirectory>
    <MaxCpuCount>0</MaxCpuCount>
    <EnvironmentVariables>
      <VSTEST_BACKGROUND_DISCOVERY>1</VSTEST_BACKGROUND_DISCOVERY>
    </EnvironmentVariables>
    <CollectSourceInformation>True</CollectSourceInformation>
  </RunConfiguration>
</RunSettings>
